# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class


# IDE
.vscode/
.idea/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
